<div class="todo-container">
  <div class="todo-header">
    <span>Todo App</span>
  </div>

  <div class="todo-new-item-container">
    <input 
      type="text" 
      [(ngModel)]="newItem.value"
      placeholder="Add your new todo"
      (keyup.enter)="onCreateItemClick(newItem)">
    
    <div class="create-new-item-button" (click)="onCreateItemClick(newItem)">
      <mat-icon>add</mat-icon>
    </div>
  </div>

  <div class="todo-items-container">
    <div 
      class="todo-item"
      *ngFor="let item of items; index as i;">
      <span>{{item.value}}</span>

      <div class="delete-item-button" (click)="onItemDeleteClick(i)">
        <mat-icon>delete_outline</mat-icon>
      </div>
    </div>
  </div>

  <div class="todo-footer"></div>
</div>